.pageContainer {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.DocumentContainer {
  overflow: hidden !important;
}

.video-container {
  height: 360px;
  width: 640px;
  /* background: black; */
  top: 50%;
  left: 50%;
}