.pageContainer {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.DocumentContainer {
  /* overflow: hidden !important; */
  /* background: #0f1014; */
}

.video-container {
  height: 360px;
  width: 640px;
  top: 50%;
  left: 50%;
}