.HeaderToolsContainer {
  position: absolute;
  top: 36px;
}

.document-content-container {
  height: 0px !important;
}

html {
  height: unset;
}

body {
  height: unset;
}

.App {
  height: unset;
  pointer-events: auto;
}

#App {
  height: unset;
}

.right-panel {
  margin-top: 40px;
}