.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App .header {
  width: 100%;
  height: 60px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

.compare-app {
  width: 100%;
  height: calc(100% - 76px);
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 76px;
}

.webviewer-wrapper {
  width: 100%;
  height: 100%;
}

.webviewer-compare-wrapper {
  width: 100%;
}

.active-compare-wrapper {
  border: 2px solid #3183C8
}

.webviewer {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.webviewer-overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
  left: 50%;
}